{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

        <form action="/quote" method="post">
            <h3>Look up stock price!</h3>
            <p class="text-center text-secondary"> Enter the Symbol</p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

{% endblock %}